body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.project h3 {
    margin-top: 0;
}

#resume {
    margin-top: 30px;
}

#resume iframe {
    border: 1px solid #ddd;
    border-radius: 4px;
}

#resume a {
    color: #007bff;
    text-decoration: none;
}

#resume a:hover {
    text-decoration: underline;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text-content {
    flex: 1;
    padding-right: 20px;
}

.image-content {
    flex: 1;
}

.image-content img {
    max-width: 100%;
    height: auto;
}